@import url("http:/Fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0px;
  font-family: Quicksand;
  box-sizing: border-box;
}

.head-section {
  display: block;
  align-items: center;
  background-color: rgb(33, 131, 24);
  width: 80%;
}

/* .head-section title {
  display: block;
  background-color: black;
}
.head-section logo {
  display: block;
  width: 200px;
} */
.navbar {
  background-color: rgb(60, 220, 84);
  display: inline-block;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
}
.navbar li {
  float: left;
}
.navbar a {
  display: block;
  padding: 14px 16px;
  background-color: #b1e7b1;
  text-decoration: none;
  color: black;
}
.navbar a:hover {
  background-color: rgb(33, 131, 24);
}
.active {
  background-color: #b1e7b1;
}
